.box{
    display: flex;
    flex-direction: column;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#item1{
    border: 2px solid rgb(72, 201, 162);
    height:75px;
    width: 330px;
    margin: 2rem 0 2rem 0;
}
